<div
  class="h-screen w-screen bg-gray-900 text-white flex justify-center items-stretch"
>
  <div
    class="max-w-[90%] flex flex-col gap-y-8 items-center justify-start w-full h-full"
  >
    <div class="flex flex-col gap-y-4 items-center justify-start">
      <div class="pt-4">Finance Window</div>
      <input
        #fileInput
        id="fileInput"
        type="file"
        class="hidden"
        [accept]="'text/csv'"
        (change)="uploadFile($event)"
      />
      <button class="button" (click)="fileInput.click()">
        Upload CSV File
      </button>
    </div>
    <div class="max-w-2xl flex flex-col gap-y-4" *ngIf="currentTransaction">
      <div class="transaction-container">
        <div class="transaction-title">{{ currentTransaction.name }}</div>
        <div class="transaction-date">
          {{ currentTransaction.date | date : "mediumDate" }}
        </div>
        <div class="transaction-amount">
          {{ currentTransaction.amount | currency : "USD" }}
        </div>
      </div>
      <div class="flex flex-col gap-y-4 items-center justify-start">
        <div>Categories</div>
        <div class="w-full flex justify-center items-center flex-wrap gap-2">
          <button
            *ngFor="let category of categories; let index = index"
            class="category-button"
            (click)="assignCategory(category)"
          >
            {{ category }}
          </button>
          <button
            class="category-button add-new"
            (click)="showNewCategoryModal = true"
          >
            <ng-icon name="heroPlus" strokeWidth="3"></ng-icon>
            Add Category
          </button>
        </div>
      </div>
    </div>
    <div class="sorted-transactions">
      <div class="sorted-title">Expenses</div>
      <div class="category-container">
        <div class="category-title">Food</div>
        <div class="category-amount">$100.00</div>
      </div>
    </div>
  </div>
  <!-- Popup for adding a new category -->
  <div class="modal-container" *ngIf="showNewCategoryModal">
    <div class="modal">
      <div class="modal-header">
        <div class="modal-title">Add New Category</div>
        <button class="modal-close" (click)="showNewCategoryModal = false">
          <ng-icon name="heroXMark" strokeWidth="3"></ng-icon>
        </button>
      </div>
      <div class="modal-body">
        <input
          class="modal-input"
          type="text"
          placeholder="Category Name"
          [(ngModel)]="newCategoryName"
        />
      </div>
      <div class="modal-footer">
        <button class="modal-button" (click)="addNewCategory()">
          Add Category
        </button>
      </div>
    </div>
  </div>
</div>
