<div
  class="flex items-stretch justify-center w-screen h-screen overflow-y-auto text-white bg-gray-900"
>
  <div
    class="max-w-[90%] flex flex-col gap-y-8 items-center justify-start m-4 h-max"
  >
    <div class="flex flex-col items-center justify-start gap-y-4">
      <div>Finance Window</div>
      <input
        #fileInput
        id="fileInput"
        type="file"
        class="hidden"
        [accept]="'text/csv'"
        (change)="uploadFile($event)"
      />
      <button class="button" (click)="fileInput.click()">
        Upload CSV File
      </button>
    </div>
    <div
      class="flex flex-col w-[42rem] max-w-full gap-y-4"
      *ngIf="currentTransaction"
    >
      <div class="transaction-container">
        <div class="transaction-title">{{ currentTransaction.name }}</div>
        <div class="transaction-date">
          {{ currentTransaction.date | date : "mediumDate" }}
        </div>
        <div class="transaction-amount">
          {{ currentTransaction.amount | currency : "USD" }}
        </div>
      </div>
      <div class="flex flex-col items-center justify-start gap-y-4">
        <div>Categories</div>
        <div class="flex flex-wrap items-center justify-center w-full gap-2">
          <button
            *ngFor="let category of categories; let index = index"
            class="category-button"
            (click)="assignCategory(category)"
          >
            {{ category }}
          </button>
          <button
            class="category-button add-new"
            (click)="showNewCategoryModal = true"
          >
            <ng-icon name="heroPlus" strokeWidth="3"></ng-icon>
            Add Category
          </button>
        </div>
      </div>
    </div>
    <app-expense-list
      class="w-[42rem] max-w-full"
      *ngFor="let category of categories"
      [hidden]="getTransactionsForCategory(category).length === 0"
      [category]="category"
      [transactions]="getTransactionsForCategory(category)"
    ></app-expense-list>
  </div>
  <!-- Popup for adding a new category -->
  <div class="modal-container" *ngIf="showNewCategoryModal">
    <div class="modal">
      <div class="modal-header">
        <div class="modal-title">Add New Category</div>
        <button class="modal-close" (click)="showNewCategoryModal = false">
          <ng-icon name="heroXMark" strokeWidth="3"></ng-icon>
        </button>
      </div>
      <form
        class="modal-body"
        (ngSubmit)="addNewCategory(newCategoryInput.value)"
      >
        <input
          #newCategoryInput
          class="modal-input"
          type="text"
          placeholder="Category Name"
        />
        <button class="modal-button" type="submit">Add Category</button>
      </form>
    </div>
  </div>
</div>
